In [ ]:
import pandas as pd
import numpy as np
import gensim

%cd '/content/drive/MyDrive/MyLibrary'

import navercrawl

df4 = navercrawl.cafe_list(number_of_page= 10)

navercrawl.korean_values_count(df4['description'])

#단어들을 토큰형태로 만듬 
  gensim.utils.simple_preprocess

review_text = df['desc'].apply(gensim.utils.simple_preprocess)

model = gensim.models.Word2Vec(
    window=10,
    min_count=2,
    workers=2
)

model.build_vocab(review_text, progress_per=1000)
model.train(review_text, total_examples=model.corpus_count, epochs=model.epochs)

#행복이라는 단어와 가장 비슷한 vector를 찾아보기

model.wv.most_similar("행복")

model.wv.most_similar(negative="행복")

df = navercrawl.news_list(number_of_page=100,sort_how='sim')

In [ ]:
import pandas as pd
import numpy as np

df_apt_price = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/data/아파트(매매)_실거래가_20230425101206.xlsx', index_col = None)
df_apt_price.head()

/usr/local/lib/python3.9/dist-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_apt_price.head(20)

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,"□ 신고정보가 실시간 변경, 해제되어 제공시점에 따라 공개건수 및 내용이 상이할 수...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"□ 본 자료는 계약일 기준입니다. (※ 7월 계약, 8월 신고건 → 7월 거래건으로...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"□ 통계자료 활용시에는 수치가 왜곡될 수 있으니 참고자료로만 활용하시기 바라며, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,* 국토교통부 실거래가 공개시스템의 궁금하신 점이나 문의사항은 주택거래신고 1588...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,□ 검색조건,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,계약일자 : 20180101 ~ 20181231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,실거래 구분 : 아파트(매매),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,주소구분 : 지번주소,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,시도 : 서울특별시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,시군구 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,읍면동 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,면적 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,금액선택 : 전체,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
17,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
18,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
19,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], inplace = True)

In [ ]:
df_apt_price.head()

,□ 본 서비스에서 제공하는 정보는 법적인 효력이 없으므로 참고용으로만 활용하시기 바랍니다.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
17,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
18,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
19,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.columns = df_apt_price.loc[15, :]

In [ ]:
df_apt_price.head()

15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
17,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
18,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
19,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.drop(15, inplace = True)

In [ ]:
df_apt_price.head()

15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
16,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
17,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
18,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
19,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
20,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.reset_index(drop = True, inplace = True)

In [ ]:
df_apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81658 entries, 0 to 81657
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       81658 non-null  object
 1   번지        81613 non-null  object
 2   본번        81641 non-null  object
 3   부번        81641 non-null  object
 4   단지명       81658 non-null  object
 5   전용면적(㎡)   81658 non-null  object
 6   계약년월      81658 non-null  object
 7   계약일       81658 non-null  object
 8   거래금액(만원)  81658 non-null  object
 9   층         81658 non-null  object
 10  건축년도      81658 non-null  object
 11  도로명       81658 non-null  object
 12  해제사유발생일   0 non-null      object
 13  거래유형      81658 non-null  object
 14  중개사소재지    81658 non-null  object
dtypes: object(15)
memory usage: 9.3+ MB

In [ ]:
df_apt_price.head()

15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.rename(columns={'동': '시군구'}).head()

15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.rename(columns={15: '번호'}).head()

15,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",4,1987,언주로 3,NaN,-,-
1,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",2,1987,언주로 3,NaN,-,-
2,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",1,1987,언주로 3,NaN,-,-
3,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",2,1987,언주로 3,NaN,-,-
4,서울특별시 강남구 개포동,658-1,0658,0001,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",5,1987,언주로 3,NaN,-,-

In [ ]:
df_apt_price.drop(columns = ['본번', '부번', '층', '건축년도', '해제사유발생일', '거래유형', '중개사소재지'], inplace = True)

In [ ]:
df_apt_price.head()

15,시군구,번지,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),도로명
0,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201801,3,"130,000",언주로 3
1,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201801,8,"117,000",언주로 3
2,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201801,11,"130,000",언주로 3
3,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,79.97,201803,19,"139,500",언주로 3
4,서울특별시 강남구 개포동,658-1,개포6차우성아파트1동~8동,54.98,201804,5,"107,500",언주로 3

In [ ]:
df_apt_price.columns

Index(['시군구', '번지', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)', '도로명'], dtype='object', name=15)

In [ ]:
df_apt_price.index

RangeIndex(start=0, stop=81658, step=1)

In [ ]:
df_apt_price['거래금액(만원)'] = df_apt_price['거래금액(만원)'].str.replace(',', '').astype(int)

AttributeError: ignored

In [ ]:
df_apt_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81658 entries, 0 to 81657
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   시군구       81658 non-null  object
 1   번지        81613 non-null  object
 2   단지명       81658 non-null  object
 3   전용면적(㎡)   81658 non-null  object
 4   계약년월      81658 non-null  object
 5   계약일       81658 non-null  object
 6   거래금액(만원)  81658 non-null  int64
 7   도로명       81658 non-null  object
dtypes: int64(1), object(7)
memory usage: 5.0+ MB

In [ ]:
df_apt_price.head()

15            시군구     번지             단지명 전용면적(㎡)    계약년월 계약일  거래금액(만원)    도로명
0   서울특별시 강남구 개포동  658-1  개포6차우성아파트1동~8동   79.97  201801   3    130000  언주로 3
1   서울특별시 강남구 개포동  658-1  개포6차우성아파트1동~8동   79.97  201801   8    117000  언주로 3
2   서울특별시 강남구 개포동  658-1  개포6차우성아파트1동~8동   79.97  201801  11    130000  언주로 3
3   서울특별시 강남구 개포동  658-1  개포6차우성아파트1동~8동   79.97  201803  19    139500  언주로 3
4   서울특별시 강남구 개포동  658-1  개포6차우성아파트1동~8동   54.98  201804   5    107500  언주로 3

In [ ]:
df_apt_price.groupby(['시군구', '계약년월'])[['거래금액(만원)']].sum()

15                    거래금액(만원)
시군구           계약년월
서울특별시 강남구 개포동 201801  12048600
              201802   4872500
              201803   8826400
              201804   3025900
              201805   1826000
...                        ...
서울특별시 중랑구 중화동 201808   1308030
              201809    624950
              201810    575550
              201811    223200
              201812    195950

[3122 rows x 1 columns]

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].sum()

15        거래금액(만원)
계약년월
201801   888182842
201802   565330616
201803   554072008
201804   269314862
201805   278045030
201806   316050978
201807   492036838
201808  1074930537
201809   507579815
201810   214845507
201811   114060748
201812    96573531

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].sum().max()

15
거래금액(만원)    1074930537
dtype: int64

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].sum().min()

15
거래금액(만원)    96573531
dtype: int64

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].mean()

15          거래금액(만원)
계약년월
201801  70557.899746
201802  61455.659963
201803  58706.506463
201804  59794.596359
201805  58945.310579
201806  60142.907326
201807  69921.392355
201808  71499.969203
201809  70370.139332
201810  65065.265597
201811  64151.151856
201812  60623.685499

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].mean().max()

15
거래금액(만원)    71499.969203
dtype: float64

In [ ]:
df_apt_price.groupby(['계약년월'])[['거래금액(만원)']].mean().min()

15
거래금액(만원)    58706.506463
dtype: float64